logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
db/data/
.DS_Store
.vscode
*.swp
*.lock
!.autod.conf.js

sdk/.rpts_cache

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

/web/build
/sdk/dist
*.log*
/server/run/*.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.zip

npm-debug.log*
yarn-debug.log*
yarn-error.log*


esdata*
