.wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;
    
}
.action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    text-align: right;
    background-color: #fff;
    z-index: 2;
}
.content {
    height: 100%;
    overflow: auto;
    // padding: 53px 5px 5px;
    padding: 53px 20px 20px;
    box-sizing: border-box;
}
.project {
    overflow: hidden;
}

.pagination {
    text-align: right;
    padding: 20px;
}